body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  height: 100vh;
  width: 100vw;
}

.chat-bubble__wrapper {
  margin-bottom: 15px;
}

.chat-bubble {
  border-radius: 2rem;
  min-width: 300px;
  max-width: 500px;
  padding: 10px 20px;
  background-color: paleturquoise;
  color: #333;
  margin-bottom: 5px;
}

.chat-bubble--own {
  background-color: palegoldenrod;
}

.chat-container {
  overflow-y: scroll;
  padding: 10px;
  background-color: #efefff;
}
@media only screen and (min-width: 640px) {
  .chat-container {
    height: 100vh;
    flex-basis: 50vw;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
